<header class="main-header">
       <div class="container">
        <h1 class="logo">
            <a href="/">MorningPages</a>
        </h1>
        
        <nav>
            <a href="/users/login">Login</a>
            <a href="/users/register">Register</a>
        </nav>

        <div class="menu">
            <i class="fas fa-bars"></i>
        </div>
       </div>
</header>