<header class="main-header">
       <div class="container">
        <h1 class="logo">
            <a href="/">Notes</a>
        </h1>
        
        <nav>
            <a href="/users/login">Login</a>
            <a href="/users/register">Register</a>
        </nav>
       </div>
</header>