<header class="main-header">
    <div class="container">
        <h1 class="logo">
            <a href="/notes/home">Notes</a>
        </h1>

        <nav>
            <a href="/users/profile"> <%= user.email  %></a>
            <a href="/notes/home"> Notes</a>
            <a href="/notes/create"> Create</a>
            <a href="/users/logout">Logout</a>
        </nav>
    </div>
</header>