<div id="sidenav">
    <i class="fas fa-times"></i>
    <ul>
        <% if (user) { %>
        <li>
            <a href="/users/profile">
                <%= user.name %>
            </a>
        </li>
        <li><a href="/notes/home"> Notes</a></li>
        <li><a href="/notes/create"> Create</a></li>
        <li><a href="/users/logout">Logout</a></li>
        <% } else { %>
<li><a href="/users/login">Login</a></li>
<li><a href="/users/register">Register</a></li>
            <% } %>
    </ul>
</div>