<h1 class="heading">Welcome  <%= user.name %> </h1>

<!-- render notes -->
<section id="notes">
    <% if (notes && notes.length > 0 ) { %>
     
    <% }  else { %>

        <h1 class="info">No Notes found</h1>
        <% } %>
</section>