<div id="hero">
   <div class="text-wrapper">
    <h1 class="heading">Write your thoughts as they come to you!</h1>
    <div class="link-wrapper">
      <a href="/users/login" class="login" >Login</a>
      <a href="/users/register">Register</a>
    </div>
   </div>
</div>