
<div id="login">
    <h1 class="heading">Login</h1>
    <div class="text-wrapper">
        <p class="error">
            <%= error %>
        </p>
    </div>
    <div class="form-wrapper">
        <form action="/users/login" method="post">
            <input type="text" name="email" placeholder="Enter Email">
            <input type="password" name="password" placeholder="Enter Password">
            <button type="submit">Login</button>
        </form>
    </div>
  
</div>