@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F8B40D;
}

.container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}

.heading {
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
    margin-bottom: 1rem;
    text-transform: capitalize
}

a {
    text-decoration: none;
    color: black;
}

.info {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}

.text-wrapper {
    text-align: center;
    margin-bottom: 1rem;
}
.error {
    color: red; 
    font-size: 0.8rem;
    font-weight: 800; 
}
/* header styling */

.main-header .container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem;
}

.main-header .container a {
    display: inline-block;
    margin-left: 1rem;
}

footer {
    text-align: center;
    font-size: 0.8rem;
}

.form-wrapper {
    width: 540px;
    max-width: 90%;
    margin: 0 auto;
}

.form-wrapper form {
    width: 100%;
}

.form-wrapper form input, .form-wrapper form button, 
.form-wrapper form textarea
{
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem 0rem;
    font-size: 0.8rem;
}

.form-wrapper form input, 
.form-wrapper form textarea
{
text-indent: 10px;
font-size: 1.2rem;
}

.form-wrapper form button {
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.form-wrapper form button.delete {
    background-color: red;
}

.form-wrapper form a {
    display: inline-block;
    width: 100%;
    background-color: red;
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

/* styling notes section */

#notes .notes-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

#notes .notes-wrapper p{
    font-size: 0.8rem;
}

#profiile {
    text-align: center;
    margin-bottom: 8rem;
}