<h1 class="heading">Create Note</h1>

<div class="form-wrapper">
    <form action="/notes/create" method="post">
        <input type="text" name="title" placeholder="Enter Title">
        <textarea name="text" id="" cols="30" rows="10"></textarea>
        <button type="submit">Create</button>
    </form>
</div>